/* body {
  max-width: 1100px;
  margin: auto;
  padding: 1em;
  line-height: 20px;
} */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* body{counter-reset: section}
h2{counter-reset: sub-section}
h3{counter-reset: composite}
h4{counter-reset: detail}

h2:before{
 counter-increment: section;
 content: counter(section) " ";
}
h3:before{
 counter-increment: sub-section;
 content: counter(section) "." counter(sub-section) " ";
} */
